{% extends "shelves/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<div class="border border-light rounded p-5 text-center">
    <div class="h2 m-3">{{ object.title }}</p>
    <div class="m-4"><img src="{{ object.cover_url }}" ></div>
</div>

<div class="p-5 m-5 h4 text-center">投稿一覧</div>
<div class="d-inline-flex flex-wrap justify-content-strech">
    {% for post in object.post_set.all %}
        <div class="card w-25">
            <div class="h5 m-5">{{ post.created_by.displayname }}</div>
            <div class="text-truncate text-justify-center card-text m-4">{{ post.comment | linebreaksbr}}</div>
            <div><a href="{% url 'shelves:post_detail' post.id%}">詳しく読む</a></div>
        </div>
    {% endfor %}
</div>

{% endblock %}