{% extends "shelves/base.html" %}
{% load staticfiles%}
{% load humanize %}

{% block content %}
<p><div class="text-right">
    {% if user.is_authenticated %}
        <p><div class="text-right">
            <button class="btn btn-primary"><a href="{% url 'shelves:post_create' %}" style="color:#ffffff">投稿</a></button>
        </div></p>
    {% endif %}
</div></p>


{% for post in posted_list %}
<p>
    <div class="border border-muted rounded p-4">
        <p><h4>{{ post.title | linebreaksbr }}</h4></p>
        <p><a href="profile/{{ post.created_by.username }}">{{ post.created_by.displayname }}</a>@{{ post.created_by.username }} {{ post.created_at | naturaltime}}</p>
        <div class="row">
            <div class="col-sm-3"><img src="{{ post.cover_url }}" /></div>
            <div class="col-sm-8 text-wrap">{{ post.comment | linebreaksbr }}</div>
        </div>
    </div>
</p>
{% empty %}
<p>投稿がありません</p>
{% endfor %}


{% endblock %}