{% extends "shelves/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<p>
    <div class="border border-light rounded p-4">
        <p><h5>{{ object.title | linebreaksbr }}</h5></p>
        <p>{{ object.created_by.displayname }}<a href="{%url 'shelves:profile' object.created_by.username %}">@{{ object.created_by.username }}</a> {{ object.created_at | naturaltime}}</p>
        <div class="row">
            <div class="col-sm-3"><img src="{{ object.cover_url }}" /></div>
            <div class="col-sm-8 text-wrap"><h6>評価：{{ object.rating }}</h5><br>{{ object.comment | linebreaksbr }}</div>
        </div>
    </div>
</p>
{% if user.username == object.created_by.username %}
<p>
    <div class="float-right">
        <h5><a href="{% url 'shelves:post_update' object.id %}">編集</a></h5>
    </div>
</p>
{% endif %}

{% endblock %}