{% extends "shelves/base.html" %}
{% load staticfiles %}
{% block content %}

<div>
    <p><div>@{{ object.username }}</div></p>
    <p><div>{{ object.profile.sentence}}</div></p>
</div>

<div>
    {% for post in object.post %}
    <p>{{ post.title }}</p>
    {% endfor %}
</div>

<div class="float-right">
    {% if object.username == user.username %}
    　  <div><a href="{% url 'shelves:logout' %}">ログアウト</a></div>
    <div><a href="{{ object.username }}/update">プロフィールの編集</a></div>
    {% endif %}
    <div><a href="{% url 'shelves:index' %}">ホーム</a></div>
</div>

{% endblock %}