{% extends "shelves/base.html" %}
{% load staticfiles %}
{% block content %}

<p><div class="border border-muted rounded p-4">
    <p><div>{{ object.displayname }}</div></p>
    <hr>
    <p><div>{{ object.profile.sentence}}</div></p>
</div></p>

<div class="d-flex flex-wrap justify-content-center">
    {% for post in object.post_set.all %}
        <div class="p-3"><a href="{% url 'shelves:post_detail' post.id%}"><img src="{{ post.cover_url }}" height="150"/></a></div>
    {% endfor %}
</div>

{% endblock %}