{% extends "shelves/base.html" %}
{% load staticfiles%}
{% load humanize %}

{% block content %}

{% for rec_user in recommend_user_list %}
<p>
    <div class="border border-muted rounded p-4">
        <p>{{ rec_user.displayname }}<a href="{% url 'shelves:profile' rec_user.username %}">@{{ rec_user.username }}</a></p>
        <div class="d-flex flex-wrap justify-content-center">
            {% for post in rec_user.post_set.all|slice:":5" %}
                <div class="p-3"><a href="{% url 'shelves:post_detail' post.id%}"><img src="{{ post.cover_url }}" height="100"/></a></div>
            {% endfor %}
        </div>
    </div>
</p>
{% empty %}
<p>おすすめユーザーがいません</p>
{% endfor %}

{% endblock %}